@font-face {
    font-family: 'UndertaleFont';
    src: url(../assets/fonts/PixelOperator-Bold.ttf) format(truetype);
}

body {
    font-family: 'UndertaleFont', sans-serif;
    background-color: #0a0a11;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    font-family: 'UndertaleFont', sans-serif;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav {
    font-family: 'UndertaleFont', sans-serif;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'UndertaleFont', sans-serif;
}

.nav a:hover {
    color: rgb(255, 255, 0);
}

main {
    padding: 50px 20px;

}

.content {
    max-width: 50%;
    font-family: 'UndertaleFont', sans-serif;
}

.content h1 {
    font-size: 40px;
    font-family: 'Undertale', sans-serif;
}

.content h1 span {
    color: yellow;
    font-family: 'UndertaleFont', sans-serif;
}

.content p {
    color: #a8a8a8;
    line-height: 1.5;
    font-family: 'UndertaleFont', sans-serif;
}

.form-group {
    margin-top: 20px;
}

.form-group input {
    padding: 15px;
    background-color: #2e2e3a;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #333;
    width: 70%;
    font-family: 'UndertaleFont', sans-serif;
}

.form-group button {
    padding: 15px 40px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    font-family: 'UndertaleFont', sans-serif;
}

.form-group button:hover {
    background-color: rgb(169, 0, 0);
}

.image-container {
    max-width: 50%;
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 20px;

}

.ellipse {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff0800, transparent);
    position: absolute;
    top: 20%;
    left: -20%;
    z-index: -1;
}